body {
  font-family: 'Poppins', sans-serif;
  background-color: #2d2d2d; /* mineShaft[10] */
  color: #f6f6f6; /* mineShaft[0] */
}

.no-text-decoration {
  text-decoration: none;
  color: #ffd149; /* brightSun[3] */
}

.list-item {
  padding: 10px;
  font-size: 20px;
  color: #fff3c6; /* brightSun[1] */
}

.modal {
  display: none;
}

.block {
  display: block;
  background-color: rgba(50, 50, 50, 0.8);
}

.resume {
  margin: 20px;
  margin-left: 50px;
}

/* Sidebar */
.sidebar {
  background-color: #3d3d3d; /* mineShaft[9] */
  color: #f6f6f6;
  padding: 50px 20px;
  height: 100%;
  overflow: auto;
}

.sidebar li {
  background-color: #4f4f4f; /* mineShaft[7] */
  border: 1px solid #ffd149; /* brightSun[3] */
  padding: 16px;
  font-size: 22px;
  margin-bottom: 10px;
}

.sidebar li:hover {
  background-color: #f99b07; /* brightSun[5] */
  color: #2d2d2d;
}

div.content {
  padding: 1px 16px;
  background-color: #2d2d2d;
  color: #f6f6f6;
}

/* Responsive styles */
@media screen and (max-width: 992px) {
  .sidebar {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 10px;
  }

  .sidebar li {
    float: left;
    font-size: 18px;
  }

  div.content {
    margin-left: 0;
    margin-top: 30px;
    background-color: #3d3d3d;
  }

  .resume {
    margin: 1px;
  }
}

@media screen and (max-width: 400px) {
  .sidebar li {
    text-align: center;
    float: none;
    font-size: 14px;
  }
}

.input-style {
  width: 100%;
  border: 1px solid #ffd149;
  padding: 6px;
  border-radius: 8px;
  background-color: #2d2d2d;
  color: #f6f6f6;
}

.input-style:focus {
  border: 2px solid #ffd149;
  outline: none;
}

.image-aspect-ratio {
  aspect-ratio: 0.9;
}
.details-paper {
  background-color: #f2c159 !important;
}
